.requestedTracks {
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10vh;

  .tracklist {
    padding-bottom: 7vh;

  }

  .buttonsWrapper {
    height: 10vh;

    .buttons {
      padding-bottom: 5vh;
    }
  }

}