.requestedTracks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;

  .tracklist {
    padding-bottom: 7vh;
  }

  .buttons {

  }

}