.headerWrapper {
  padding-top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-weight: 400;
    padding-bottom: 7vh;
  }

  .buttonsWrapper {
    padding-top: 6vh;
    display: flex;
    align-items: center;
    gap: 6vw;
    justify-content: space-between;
  }
}